@use '../base/variables' as *;

.features {
  margin-top: clamp(80px, 4vw, 180px);
  margin-bottom: clamp(100px, 4vw, 212px);

  &__title {
    max-width: 356px;
    color: $blue_02;
    font-size: clamp(24px, 3.5vw, 34px);
    line-height: clamp(32px, 5vw, 46px);
    letter-spacing: 0.05em;
  }
}

@media (min-width: 768px) {
  .features__grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: clamp(50px, 4vw, 100px);
    justify-content: end;
    align-items: center;
    position: relative;
  }

  .features__title {
    position: absolute;
    top: 0;
    left: 0;
  }

  .features__right {
    display: flex;
    flex-direction: column;
    gap: clamp(50px, 4vw, 100px);
  }
}

@media (max-width: 768px) {
  .features__title {
    max-width: 260px;
  }
  .features__grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 360px) {
  .features__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
  .features__right {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
  .features__title {
    margin-bottom: 40px;
    text-align: center;
  }
}