@use '../base/variables' as *;

.features {
  margin-top: clamp(80px, 14vw, 180px);
  margin-bottom: clamp(100px, 16vw, 212px);

  &__title {
    position: absolute;
    top: 0;
    left: 0;

    max-width: 356px;
    color: $blue_02;
    font-size: clamp(24px, 3.5vw, 34px);
    line-height: clamp(32px, 5vw, 46px);
    letter-spacing: 0.05em;
  }

  &__grid {
    display: grid;
    justify-items: end;
    justify-content: end;
    gap: clamp(50px, 8vw, 100px);

    position: relative;

    grid-template-areas:
    "A A A A   B B B B"
    "A A A A   C C C C";

    .grid-1 {
      grid-area: A;
      align-self : center;
    }
    .grid-2 {
      grid-area: B; 
    }
    .grid-3 {
      grid-area: C;
    }
  }
}

@media (min-width: 340px) and (max-width: 600px) {
  .features__grid {
    display: flex;
    flex-wrap: wrap;
  }
  .features__title {
    position: static;
    margin-bottom: 16px;
    text-align: center;
  }
}