.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  
  background: transparent;
  transition: background-color 0.3s ease;
  z-index: 1000;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    
    width: 90%;
    padding: 3% 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__icon-burger {
    padding: 8px 4px;
  }
}

.header.scrolled {
  background-color: rgba(255,255,255, 1);
}

