.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 82px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  transition: background-color 0.3s ease;
  z-index: 1000;

  &__burger {
    padding: 8px 4px;
  }
}

.header.scrolled {
  background-color: rgba(255,255,255, 1);
}

@media (max-width: 768px) {
  .header {
    padding: 20px 40px;
  }
}

@media (max-width: 360px) and (max-width: 600px) {
  .header {
    padding: 12px 16px;
  }
}

