@use '../base/variables' as *;

.button {
  padding: 15px 48px;
  color: $white;
  background-color: $color-button;
  border: none;
  border-radius: 10px;
  box-shadow: $shadow-button;

  line-height: 26px;
  letter-spacing: 0.04em;

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.button:hover {
  transform: scale(1.02);
  box-shadow: $shadow-button-hover;
}