@use '../base/variables' as *;

.card {
  max-width: 380px;
  padding: clamp(28px, 4vw, 48px);
  border-radius: 10px;
  box-shadow: $shadow-card;

  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &__media {
    max-width: clamp(140px, 4vw, 240px);
    margin-bottom: clamp(26px, 4vw, 56px);
  }
  &__img {
    width: 100%;
  }
  &__title {
    line-height: clamp(26px, 2vw, 30px);
    letter-spacing: 0.05em;
  }
  &__text {
    opacity: 60%;
    line-height: clamp(22px, 2vw, 26px);
    letter-spacing: 0.05em;

    margin-top: 16px;
    margin-bottom: 32px;
  }

  &__link {
    font-family: $font-body;
    font-weight: 600;

    display: inline-flex;
    align-items: center;
    gap: 24px;

    color: $blue_04;
    text-decoration: none;
    letter-spacing: 0.05em;
  }
  &__arrow {
      transition: transform 0.2s ease;
    }
  &__link:hover {
    opacity: 80%;
  }
  &__link:hover &__arrow {
    transform: translateX(4px);
  }
}

.card:hover {
  transform: scale(1.03);
}

@media (min-width: 1200px) {
  .img-1__w {
    max-width: 182px;
    margin-left: 26px;
  }
  .img-2__w {
    max-width: 224px;
    margin-top: -70px;
    margin-left: 30px;
    margin-bottom: 52px;
  }
  .img-3__w {
    max-width: 156px;
    margin-left: 52px;
  }
}

@media (max-width: 1200px) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}