@use '../base/variables' as *;

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  inset: 0;

  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.6s;

  &__content {
    position: relative;
    width: 90%;
    max-width: 600px;
    margin: 3% auto;
    padding: clamp(20px, 4vw, 56px);

    max-height: 90dvh;
    overflow-y: auto;

    background-color: $white;
    color: $blue_01;
    border-radius: 10px;
    box-shadow: $shadow-card;
    animation: slideIn 0.6s;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 0.04em;
    }
    img {
      max-width: 20px;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: clamp(10px, 4vw, 12px);

    margin-top: clamp(20px, 4vw, 48px);
    margin-bottom: clamp(40px, 10vw, 60px);

    label {
      font-size: 16px;
      line-height: 30px;
      letter-spacing: 0.04em;
      opacity: 80%;

      margin-bottom: 8px;
    }
    .textarea {
      min-height: clamp(130px, 4vw, 144px);
    }
    .button-modal {
      width: 100%;
    }
  }
}

.error-message {
  min-height: 15px;
  color: red;
  font-size: 15px;
  margin-top: 5px;
}

.input.error {
  border: 1px solid red;
}

.success-message {
  padding-top: clamp(24px, 4vw, 32px);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}