@use '../base/variables' as *;

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.6s;
}

.modal-content {
  position: relative;
  width: 90%;
  max-width: 600px;
  margin: 3% auto;
  padding: clamp(20px, 4vw, 56px);
  background-color: $white;
  color: $blue_01;
  border-radius: 10px;
  box-shadow: $shadow-card;
  animation: slideIn 0.6s;
}

.modal-title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
  }
  img {
    max-width: 20px;
  }
}

.modal-main {
  display: flex;
  flex-direction: column;
  gap: clamp(26px, 4vw, 32px);

  margin-top: clamp(20px, 4vw, 48px);
  margin-bottom: clamp(40px, 10vw, 72px);

  label {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    opacity: 80%;

    margin-bottom: 8px;
  }
}

.textarea {
  min-height: clamp(130px, 4vw, 144px);
}

.button-modal {
  width: 100%;
}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}