@use 'variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-body;
  font-weight: 400;
  color: $color-body;
}

h1 {
  font-family: $font-heading;
}

h2 h3 h4 h5 {
  font-family: $font-body;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}