$font-heading: 'Galien', serif;
$font-body: 'Gilroy', system-ui, -apple-system, sans-serif;

$blue_01: #1F3F68;
$blue_02: #316099;

$blue_04: #5A98D0;
$blue_05: #98C3E8;

$color-body: $blue_01;
$color-shadow: #1070B133;

$color-button: $blue_04;
$color-button-shadow: #356EAD33;